body {
    font-family: 'Lato',sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: auto;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
}

.header-title{
    color: #272727;
    width: 780px;
    margin-left: 260px;
    margin-top: 150px;
    font-size: 80px;
    font-weight: 800;
    flex-direction: column; 
}

.header-description{
    color: rgba(39, 39, 39, 0.60);
    width: 640px;
    margin-left: 260px;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    flex-direction: column;
}

.btn{
    color: #FFF; 
    font-size: 20px;
    margin-left: 260px;
    margin-bottom: 147px;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
}

.image5{
    width: 635px;
    height: 800px;
    padding-top: 50px;
    padding-left: 350px;
    padding-bottom: 0px;
}

.section-title{
    color: #272727;
    text-align: center;
    margin-top: 150px;
    font-size: 40px;
    font-weight: 700;
}

.section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.image-pic{
    width: 550px;
    height: 400px;
    margin-top: 70px;
    margin-left: 750px;
    background: #FFF;
    display: flex;
    align-items: center;
    gap: 25px;
}
.img1{
    width: 370px;
    height: 430px;
    margin-top: 50px;
    padding-top: 30px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15); 
    text-align: center; 
    text-decoration-line: underline;  
}
.img2{
    width: 340px;
    height: 380px;
    margin-top: 50px;
    padding-top: 80px;
    padding-left: 5px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    text-align: center; 
    text-decoration-line: underline; 
}
.img3{
    width: 370px;
    height: 470px;
    margin-top: 50px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    text-align: center; 
    text-decoration-line: underline; 
}

.image-pic2{
    width: 850px;
    height: 250px;
    margin-top: 250px;
    margin-left: 750px;
    padding-top: 50px;
    padding-left: 170px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);  
    gap: 70px;
    text-align: center;
}

.deal{
    width: auto;
    height: 600px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    gap: 250px;
    margin-top: 150px;
}

.title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-left: 400px;
    padding-top: 150px;
    text-align: center;
}

.color{
    color: #E55473;
}

.para{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    width: 570px;
    margin-left: 450px;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
}

.btn1{
    color: #FFF;
    margin-left: 600px;
    padding: 20px 35px; 
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
}

.image{
    width: 310px;
    height: 400px;
    margin-left: 300px;
    padding-top: 100px;
}

.insta-title{
    color: #272727;
    text-align: center;
    margin-top: 150px;
    font-size: 40px;
    font-weight: 800;
}

.insta-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    margin-top: 24px;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
}

.insta-pic{
    margin-top: 48px;
    display: flex;
    gap: 24px;
    margin-left: 550px;
}

.latest-bg{
    width: 1440px;
    height: 450px;
    margin-top: 130px;
    border-radius: 8px;
}

.bg-pic{
    width: 1440px;
    height: 450px;
    margin-left:550px;
}

.latest-title{
    color: #272727;
    text-align: center;
    width: 400px;
    height: 75px;
    font-size: 40px;
    font-weight: 800;
    margin-left: 1100px;
    margin-top: -350px;
    gap: 24px;
}

.deal-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    margin-top: 48px;
    margin-left: 1050px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.latest .contact{
    width: 680px;
    height: 65px;
    border-radius: 8px;
    background: #FFF;
    font-size: 100px;
    margin-left: 850px;
}

.text{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 300px;
}

.btn6{
    width: 150px;
    height: 64px;
    border-radius: 8px;
    background: #E55473; 
    margin-left: 1370px;
}

.ft-bg{
    width: auto;
    height: 400px;
    margin-top: 120px;
    background: #111010;
}

.ft-title{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    margin-left: 1050px;
    padding-top: 125px;
    gap: 24px;
}

.sp{
    color: #FFF;
}

.ft-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    width: 625px;
    flex-direction: column;
    margin-left: 920px;
    gap: 38px;
}

.copy{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-right: 100px;
}

