body {
    font-family: 'Lato',sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.container{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
}

.header-title{
    color: #272727;
    width: 708px;
    margin-left: 260px;
    margin-top: 150px;
    font-size: 80px;
    font-weight: 800;
    flex-direction: column; 
}

.header-description{
    color: rgba(39, 39, 39, 0.60);
    width: 640px;
    margin-left: 260px;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    flex-direction: column;
}

.btn{
    color: #FFF; 
    font-size: 20px;
    margin-left: 260px;
    margin-bottom: 147px;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
}
.image{
    width: 635px;
    height: 1000px;
    margin-top: 50px;
    margin-left: 400px;
}

.section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.image-pic{
    width: 550px;
    height: 400px;
    margin-top: 48px;
    margin-left: 750px;
    background: #FFF;
    display: flex;
    align-items: center;
    gap: 25px;
}
.img1{
    width: 370px;
    height: 430px;
    margin-top: 50px;
    padding-top: 30px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15); 
    text-align: center; 
    text-decoration-line: underline;  
}
.img2{
    width: 340px;
    height: 380px;
    margin-top: 50px;
    padding-top: 80px;
    padding-left: 5px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    text-align: center; 
    text-decoration-line: underline; 
}
.img3{
    width: 370px;
    height: 470px;
    margin-top: 50px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    text-align: center; 
    text-decoration-line: underline; 
}

.image-pic2{
    width: 850px;
    height: 250px;
    margin-top: 250px;
    margin-left: 750px;
    padding-top: 50px;
    padding-left: 170px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);  
    gap: 70px;
    text-align: center;
}


